nav {
    padding: 10px 40px;
    border-bottom: 1px solid #f1f4f1;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 17px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    color: #131712;
    font-size: 1.3rem;
    font-weight: 500;
}

.logo-img {
    width: 20px;
}

.dashboard-link {
    color: black;
    text-decoration: none;
}

.profile-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-button-main {
    padding: 0 1.25rem;
    background-color: #21DE21;
    border: none;
    height: 40px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.5s;
    color: black;
    list-style-type: none;
}

.nav-button-main:hover {
    list-style-type: none;
    background-color: black;
    color: white;
}

.hamburger-container {
    height: 27px;
    width: 27px;
}

.hamburger {
    height: 100%;
    width: 100%;
}

@media (min-width: 600px) {
    .hamburger-container {
        display: none;
    }
}

@media (max-width: 600px) {
    .profile-link, .nav-button {
        display: none;
    }
}