input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.container {
    padding: 2.5% 15%;
    background-color: rgb(250, 250, 250);
}

.settings-title {
    font-size: 2rem;
    font-weight: 600;
}

.settings-sub-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 0px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 25px
}

.profile-input {
    font-size: 0.9rem;
}

.profile-input-text {
    font-size: 1rem;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e5e9e4;
    margin-top: 10px;
    background-color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.submit-button {
    margin-top: 5px;
    padding: 0.75rem 1.25rem;
    background-color: #77cf4b;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-button:hover {
    background-color: #45a049;
}

.delete-button {
    margin-top: 5px;
    padding: 0.75rem 1.25rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.delete-button:hover {
    background-color: rgb(185, 0, 0);
}

.save-confirmation {
    background-color: #45a049;
    position: fixed;
    z-index: 1000; 
    top: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

.save-confirmation-show {
    background-color: #45a049;
    position: fixed;
    z-index: 1000; 
    top: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}